<h1>Friends list goes here:</h1>

<% friends.forEach(function(friend){ %>
  <li><%=friend %></li>
<% }); %>


<form action="addfriend" method="Post">
  <input type="text" name="newfriend" placeholder="name">
  <button>I made a new friend</button>
</form>
