h1{
  background: #2980b9;
  color: white;
  margin: 0;
}



#container{
  width: 360px;
  margin: 100px auto;
  background: #f7f7f7;
  box-shadow: 0 0 3px rgba(0,0,0, 0.1);
}


.completed {
  color: gray;
  text-decoration: line-through;
}
