h1{
  background: #2980b9;
  color: white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
}
.fa-pencil{
  float:right;
}
body{
background: #00c6ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

ul{
  list-style: none;
  margin: 0;
  padding:0;
}

body{
  font-family: roboto;
}

li{
background: #fff;
height: 40px;
line-height: 40px;
color: #666;
}

span{
  background-color: #e74c3c;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: white;
  width: 0;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 0;
}

li:hover span{
  width: 40px;
  opacity: 1.0;
}

input{
  font-size: 18px;
  background-color: f7f7f7;
  width: 100%;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
  color: #2980b9;
  border: 3px solid rgba(0,0,0,0);
}

input:focus{
  background: #fff;
  border: 3px solid #2980b9;
  outline: none;
  }

li:nth-child(2n){
  background: #f7f7f7;
}


#container{
  width: 360px;
  margin: 100px auto;
  background: #f7f7f7;
  box-shadow: 0 0 3px rgba(0,0,0, 0.1);
}


.completed {
  color: gray;
  text-decoration: line-through;
}
