<% include partials/header %>

<h1>you fell in love with: <%= thingVar.toLowerCase() %> </h1>

<% if(thingVar.toLowerCase() === "rusty"){ %>
  <p>Good Choice! Rusty is the best!</p>
<% } else{ %>
  <p>bad choice!! you should have said rusty!</p>

<% } %>

<p>ps this is the love.ejs file<p>

<% include partials/footer %>
