body {
  background-color: #232323;
  margin: 0;
  font-family: "Montserrat", "Avenir";
}

.square {
width: 30%;
background: purple;
padding-bottom: 30%;
float: left;
margin: 1.66%;
}

#colorDisplay {
  font-size: 200%;
}

#container {
  margin: 0 auto;
  max-width: 800px;
}

h1{
  text-align: center;
  line-height: 1.1;
  color: white;
  font-weight: normal;
  background: steelblue;
  margin: 0;
  text-transform: uppercase;
  padding : 20px 0;
}

#stripe {
  background-color: white;
  height: 30px;
  text-align: center;
}

.selected {
  background: blue;
}

button {
  border: none;
  background: none;
}
