body {
  background-color: #232323;
  margin: 0;
  font-family: "Montserrat", "Avenir";
}

.square {
width: 30%;
background: purple;
padding-bottom: 30%;
float: left;
margin: 1.66%;
border-radius: 15%;
transition: background 0.6s;
-webkit-transition: background 0.6s;
-moz-transition: background 0.6s;
}

#colorDisplay {
  font-size: 200%;
}

#message {
  display: inline-block;
  width: 20%;
}

#container {
  margin: 20px auto;
  max-width: 600px;
}

h1{
  text-align: center;
  line-height: 1.1;
  color: white;
  font-weight: normal;
  background: steelblue;
  margin: 0;
  text-transform: uppercase;
  padding : 20px 0;
}

#stripe {
  background-color: white;
  height: 40px;
  text-align: center;
}

.selected {
  color: white;
  background: steelblue;
}

button {
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: steelblue;
  letter-spacing: 1px;
  font-size: inherit;
  transition: all 0.4s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
}

button:hover {
  color: white;
  background: steelblue;
}
