body {
  background-color: #232323;
}

.square {
width: 30%;
background: purple;
padding-bottom: 30%;
float: left;
margin: 1.66%;
}

#container {
  margin: 0 auto;
  max-width: 800px;
}

h1{
  text-align: center;
  color: white;
  background: steelblue;
}

#stripe {
  background-color: white;
  height: 30px;
  text-align: center;
}

.selected {
  background: blue;
}
